<h1>Log in</h1>

<div class="login">
<%= form_tag sessions_path do %>
  <%= text_field_tag :email, params[:email], :placeholder => "email address" %>
<br>
<%= password_field_tag :password %>
<%= submit_tag "GO" %>
<% end %>
</div>
<h2 id="heading">- OR -</h2>
<%= link_to "sign up", "/signup"  %>
