<header>
<h2>Log in</h2>
</header>

<div class="login">
<%= form_tag sessions_path do %>
  <%= text_field_tag :email, params[:email], :placeholder => "email address" %>
  <br>
  <%= password_field_tag :password, nil, :placeholder => "password" %>
  <br>
<%= submit_tag "go", :id=>"go_button" %>
<% end %>
</div>
<%= link_to '<img src="https://dev.twitter.com/sites/default/files/images_documentation/bird_black_48_0.png">'.html_safe, '/auth/twitter', :id=>"twitter" %>
