<header>
<h2>Sign Up</h2>
</header>

<%= form_for @user, url: "/users" do |f| %>
  <% if @user.errors.any? %>
  <div class="error_messages">
  <h2>Form is invalid</h2>
  <ul>
    <% for message in @user.errors.full_messages %>
      <li><%= message %></li>
  <% end %>
  </ul>
</div>
  <% end %>
<%= f.text_field :email, :placeholder => "email"  %>
<br>
<%= f.text_field :name, :placeholder => "full name" %>
<br>
<%= f.password_field :password, :placeholder => "password" %>
<br>
<%= f.password_field :password_confirmation, :placeholder => "password" %>
<br>
<%= f.submit "Submit", :id => "go_button"%>
<% end %>
