<h1> next lines! </h1>

<ul>
  <% @nextline_options.each do |sen| %>
    
    <li>Votes: <%= sen.votes.inject(0) {|sum, vote| vote.vote==true ? sum + 1 : sum - 1} %> - <%= sen.text %> (author: <%= sen.user.email %> @ <%= sen.created_at.to_s %>)</li>

    <%= form_tag "sentences/#{sen.id}/votes" do %>
      <%= hidden_field_tag :vote, true %>
      <%= submit_tag "vote up" %>
    <% end %>
    <%= form_tag "sentences/#{sen.id}/votes" do %>
      <%= hidden_field_tag :vote, false %>
      <%= submit_tag "vote down" %>
    <% end %>

  <br \><br \>
  
<% end %>
</ul>

<%= link_to "add your own option", "/lines/#{@story_id}/sentences/new"  %>
