<!DOCTYPE html>
<html>
<head>
  <title>FirstProject</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <%= link_to "home", "/" %>
  <%= link_to "line", "/next" %>
  <span id='log'>
  <% if current_user %>
    <%= link_to "logoff", "/logoff" %>
  <% else %>
    <%= link_to "login", "/login" %>
  <% end %>
  </span>

</nav>

<div class="container">
  
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

<%= yield %>

</div>
</body>
</html>
