<!DOCTYPE html>
<html>
<head>
  <title>FirstProject</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <b><p class="username">
  logged in:&nbsp;<%= current_user_name.downcase %>
</p></b>
<% end %>


<nav>
  <%= link_to "home", "/" %>
  <%= link_to "line", "/next" %>
  <% if current_user %>
    <%= link_to "logoff", "/logoff" %>
  <% else %>
    <%= link_to "login", "/login" %>
  <% end %>

</nav>

<div class="container">
  
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

<%= yield %>
<p>

</p>
</div>
</body>
</html>
