<!DOCTYPE html>
<html>
<head>
  <title>FirstProject</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if current_user %>
  Logged in as <%= current_user.email %>.
<%= link_to "logoff", "/logoff" %>
<% else %>
  <%= link_to "signup", "/signup" %>
<%= link_to "login", "/login" %>
<% end %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= link_to "the story", "/" %>
<%= link_to "current line", "/next" %>

<%= yield %>

</body>
</html>
